
#####################################################################
#      X/Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: gpio11
## Refer to https://docs.vorondesign.com/build/startup/#v0
dir_pin: gpio10                                                     # Check motor direction in link above. If inverted, add a ! before gpio10
enable_pin: !gpio12
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200                                        # 电机单圈所需脉冲数（1.8度电机:200，0.9度电机:400）# Set to 400 for 0.9° degree stepper motor, 200 is for 1.8° stepper motors
endstop_pin: ~gpio4 
position_endstop: 120 #X轴的机械复位点坐标
position_min: -2 #X轴最小行程
position_max: 120 #X轴最大行程
homing_speed: 10 #复位速度                                                 # Can be increased after initial setup, Max 100
homing_retract_dist: 5 #第一次触发复位开关之后的后退距离
homing_positive_dir: true # 复位方向（一般不需要改动）

[tmc2209 stepper_x]
uart_pin: gpio9                                                     #   连接到TMC2209的PDN_UART的脚,这个参数必须给定
tx_pin: gpio8
#   如果使用分离接收和发送线的方式和驱动器通讯
#   可以设置uart_pin来作为接收脚，tx_pin作为发送脚
#   默认是使用uart_pin来读写
uart_address: 0
#   TMC2209的UART地址（0-3的整数）
#   这个参数通常用于多个TMC2209连接到同个UART接口
#   默认是0
interpolate: False #是否开启256微步插值
#   如果为True，使能插补（驱动器会在内部使用256微步）
#   这个插补会带来一个小的系统位置偏差
#   详见TMC_Drivers.md
#   默认值是True
run_current: 0.5 #电机运行电流值
#   配置驱动器在驱动步进电机移动时的电流（以电流的有效值安培为单位）
#   这个参数必须给定
hold_current: 0.6 #电机静态力矩保持电流值
sense_resistor: 0.110 #驱动采样电阻值（不要修改）
#   电机采样电阻阻值（以欧姆为单位）
#   默认是0.110欧姆
stealthchop_threshold: 0
#   设置stealthChop模式的门槛速度（以毫米每秒为单位）
#   当设置了这个量，步进电机速度低于这个值时会启用stealthChop模式
#   默认是0，意味着失能了stealthChop模式                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle
driver_TBL: 2
driver_TOFF: 2
driver_HEND: 1
driver_HSTRT: 4
driver_PWM_LIM: 8 
driver_PWM_GRAD: 8
driver_PWM_FREQ: 1
driver_PWM_REG: 4

[stepper_y]
step_pin: gpio6
## Refer to https://docs.vorondesign.com/build/startup/#v0
dir_pin: gpio5                                                      # Check motor direction in link above. If inverted, add a ! before gpio5
enable_pin: !gpio7
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200                                        # Set to 400 for 0.9° degree stepper motor, 200 is for 1.8° stepper motors
endstop_pin: ^gpio3
position_endstop: 120
position_max: 120
position_min: -2 #Y轴最小行程
homing_speed: 50                                                    # Can be increased after initial setup, Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 2
interpolate: False
run_current: 0.5
hold_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle
driver_TBL: 2
driver_TOFF: 2
driver_HEND: 1
driver_HSTRT: 4
driver_PWM_LIM: 8 
driver_PWM_GRAD: 8
driver_PWM_FREQ: 1
driver_PWM_REG: 4

#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: !gpio19
dir_pin: !gpio28                                                    # Remove the ! before gpio28 if motor direction is inverted.
enable_pin: !gpio2
rotation_distance: 8         #丝杆步进值                                        # For T8x8 integrated lead screw
microsteps: 32
endstop_pin: ^gpio25
position_endstop: -0.12
#-0.375
position_max: 120 #Z轴最大行程
position_min: -1.5 #z轴最小行程
homing_speed: 10
second_homing_speed: 3.0
homing_retract_dist: 3.0

[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
interpolate: False
## For OMC (StepperOnline) 17LS13-0404E-200G 0.4A 
#run_current: 0.2
## For LDO-42STH25-1004CL200E 1.0A
run_current: 0.37
hold_current: 0.500
sense_resistor: 0.110
stealthchop_threshold: 0                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle

